body {
  margin: 0;
}

table {
  border-collapse: collapse;
  border: 2px solid #222;
  letter-spacing: 1px;
  font-family: sans-serif;
}
table thead, table tfoot {
  background-color: #3d2c18;
  color: #fff;
}
table tbody {
  background-color: #f1dfb9;
  color: #3d2c18;
}
table th, table td {
  border: 1px solid #111;
}
table td {
  text-align: center;
}
table img {
  vertical-align: middle;
}

.container {
  position: relative;
  text-align: center;
  background-color: #202828;
  padding: 5px 10px;
}
.id {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);

  font-size: 0.6em;
  background-color: #3d2c18;
  color: #fff;
}

.name {
  font-size: 1.2em;
}
